/* Ctrl + Shift + F : pour chercher un mot dans Notepad++ */



@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Source+Sans+Pro");
*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
	background-color: white;
	/*background-image: linear-gradient(to bottom, #45484d 0%, black 100%), url("images/background-accueil.jpg");*/
	background-blend-mode: multiply;
	background-size: cover;

}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.618;
}

/* PIED DE PAGE */
footer {
	color: white;
	background: #B5B5B5;
	padding: 10px ;
	font-size: 15px;
	border: 1.5px solid #F2F2F2;
	text-align: center;
}

h1,h2 {
  font-family: 'Playfair Display', serif;
  line-height: 1.2;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

h1 {
  font-size: 3rem;
  max-width: 35rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

.hero .content h1 {
	font-family: 'Yantramanav', sans-serif;
	font-size: 600%;
	font-weight: 100;
	color: solid #CBDFD6;
	line-height: 70%;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 2rem;
  color: white;
  /*url("https://source.unsplash.com/random/1920x1080/?animals");*/  /*Mettre des fond d'écrans d'une catégorie en random*/
  background-image: linear-gradient(to bottom, #45484d 0%, black 130%), url("images/background-contact22.jpg");
  background-blend-mode: multiply;
  background-size: cover;
}


.content {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 2rem;
  background-image: url("");
}






/*Le titre de taille H2 (personnalisation)*/	
.video-area h2 { 
	color :white;
	box-shadow: 1px 1px 50px black /*ou ca #555*/;
	text-shadow:0 0px 0 #00ecff, 0 -1.5px 0 #ff4045;
}
	
		
	
/* La souris disparais quand elle rentre dans la video */	
.none { 
	cursor: none; 
}
	
	
/* Quand la souris est sur la video celle-ci "start" */
/* quand elle n'y est pas, la video se met sur "pause" */	
/* Positionne la video dans la fenêtre */
video{
    position: relative;
    width: 100%;
    height: auto;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	border: 3px solid black;
}

video:hover{
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	border: 3px solid #DC143C;  
	box-shadow: 1px 1px 50px #555;
	cursor:none;
	transition-delay="10s";
}





 /* Mettre les liens des personnages en rouge + modification si la souris est sur la zone de texte */
.team-area a{
	color:red;
	font-size: 30px;
	line-height:30px;
	}
 
.team-area a:hover{
	color:orange;
	font-size: 29px;
	text-shadow: 1px 1px 1px #555;
	}
	
	/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}
	

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

/*		Ce qui suit est pour faire l'animation de la souris 	  */

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.scroll {
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
          animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 20.5px;
          transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@-webkit-keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(36px) scaleY(2);
	transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

@keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0) scaleY(1);
	transform: translateY(0) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(36px) scaleY(2);
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}